body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.password-page {
    flex-grow: 1;
    background: var(--accent-background-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.password-page .bg-text, .password-page .bg-text-overlay {
    font-size: 17vw;
}
footer {
    background: var(--accent-background-color);
    --footer-text-color: white;
}
.password-wrapper {
    padding: 2px;
    background: var(--primary-gradient);
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 38px;
}
.password-wrapper button {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-background-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
}
.password-wrapper svg {
    fill: var(--on-accent-text-color);
}
input {
    background: var(--accent-background-color);
    border: none;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--on-accent-text-color);
    box-sizing: border-box;
    padding: 0 1rem;
    flex-grow: 1;
}
input:focus {
    outline: none;
}
.password-help {
    color: var(--on-accent-text-color);
    margin: 0;
    padding: 0;
    font-size: var(--text-size-sm);
    
    padding-top: 12px;
    margin-bottom: 17vw;
    color: rgba(255, 255, 255, .4);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}
.password-help.shown {
    opacity: 1;
}
/* https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}