footer {
    background: var(--accent-background-color);
    --footer-text-color: var(--on-accent-text-color);
}
section {
    background: var(--accent-background-color);
    position: relative;
    padding-bottom: 20vw;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
section > * {
    position: relative;
    z-index: 2;
}

section .bg-text, section .bg-text-overlay {
    font-size: 17vw;
    position: absolute;
}
.card {
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: #1b1d1d;
    padding: 24px;
    display: flex;
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}
.card:hover {
    background-color: #242424;
}
.card .text {
    height: 100%;
    width: 60%;
}
.card .text p {
    margin: 0;
    padding: 0;
}
.card .text .title {
    padding-bottom: 12px;
    font-size: var(--text-size-md);
}
.card .text .subtitle {
    font-size: 20px;
}
.card .image {
    width: 40%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
}